* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  $padding-inline-value: 48px;
  max-width: c 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}
.wrapper {
  padding-block: 64px;
}
.card-product__img > img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}
.card-product {
  max-width: 100%;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: 1200px;
  gap: 16px;
  container-type: inline-size;
  container-name: container-flex;
}
@container container-flex (min-width: 700px) {
  .card-product {
    max-width: calc((100% - 16px * 2) / 3);
  }
}
.card {
  &-product__feature {
    font-weight: 900;
    font-size: large;
    margin-block: 12px;
  }
  &-product__title {
    font-weight: 500;
    font-size: medium;
    margin-bottom: 10px;
  }
  &-product__category {
    color: gray;
  }
}
.minitiltle {
  h2 {
    font-family: "Noto Sans", sans-serif;
  }
}
.button {
  width: fit-content;
  background-color: blue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  &__more {
    background-color: aliceblue;
    color: cornflowerblue;
  }
  &--type-text {
    background-color: unset;
    color: blue;
    padding-inline: 0;
  }
}
.deco {
  .container {
    padding: 0;
  }
  .wrapper {
    padding: 0;
  }
  h2 {
    margin: 0;
    -webkit-text-stroke: 1px blue;
    -webkit-text-fill-color: white;
  }
}
.nav {
  font-family: Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  text-decoration: overline;
  background-color: blue;
  color: white;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
  &__logohead {
    padding-block: 16px;
  }
  &__logo {
    font-size: x-large;
  }

  img {
    width: 200px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680 {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680 {
      display: unset;
    }
  }
}

.main {
  &__media {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#hero1 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  .button {
    margin-inline: auto;
  }
  .main {
    &__text {
      margin-inline: auto;
      max-width: 600px;
      margin-bottom: 24px;
    }
    &__media {
      aspect-ratio: 1 / 1;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin-block: 24px;
  }
}

#hero2 {
  background-color: aliceblue;
  font-family: "Noto Sans KR", sans-serif;
  .wrapper {
    display: flex;
    align-items: center;
    padding-block: 64px 0px;
    $gap-val: 24px;
    gap: $gap-val;
    & > * {
      flex: 1;
    }
  }
  .main {
    &__text {
      &__buttonWrapper {
        display: flex;
        gap: 16px;
      }
    }
    &__media {
      aspect-ratio: 9 / 16;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    max-width: 40ch;
    margin-block: 24px 32px;
    font-family: "Nanum Pen Script", cursive;
    font-size: x-large;
  }
  @media (width < 53.125rem) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
      .main {
        &__text {
          &__buttonWrapper {
            margin-inline: auto;
            flex-direction: column;
            align-items: center;
            gap: 0;
          }
        }
      }
    }
  }
}
#hero3 {
  padding-bottom: 148px;
}
.footer {
  background-color: navy;
  color: white;
  font-size: 0.875rem;

  container-type: inline-size;
  container-name: footer;
  img {
    width: 100px;
    padding-bottom: 12px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
  }
  svg {
    fill: white;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  h2 {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 1rem;
  }
  &__extLinkWrap {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width < 44.375rem) {
    .column: first-of-type {
      grid-row: 1 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
