* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  max-width: c 1328px;
  margin-inline: auto;
  padding-inline: 64px;
}

.container2 {
  max-width: c 1264px;
  margin-inline: auto;
  padding-inline: 32px;
}

.wrapper {
  padding-block: 4rem;
}

.nav {
  background-color: blue;
}
.nav__logo {
  padding-block: 32px 1rem;
}
.nav__logo img {
  height: 72px;
}

.nav2 {
  background-color: white;
  color: blue;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  container-type: inline-size;
  container-name: nav;
}
.nav2 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav2__head {
  font-size: 24px;
  font-weight: 900;
}
.nav2__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}
.nav2 .lt680 {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav2__menuWrapper {
    display: none;
  }
  .nav2 .lt680 {
    display: unset;
  }
}

.mypg2__profile {
  background-color: unset;
  overflow: hidden;
}
.mypg2__profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero1 {
  background-color: rgb(214, 236, 254);
  font-family: "Noto Sans KR", sans-serif;
}
#hero1 .wrapper {
  display: flex;
  align-items: center;
  padding: 0%;
  gap: 24px;
}
#hero1 .wrapper > * {
  flex: 1;
}
#hero1 .mypg__text {
  padding: 32px;
  color: rgb(0, 0, 110);
  text-decoration: none;
}
#hero1 h2 {
  margin-bottom: 16px;
}
#hero1 h3 {
  max-width: 40ch;
  margin-bottom: 24px;
}

.main {
  background-color: white;
  padding: 24px;
}
.main__media {
  background-color: unset;
  overflow: hidden;
}
.main__media img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.major__media {
  text-align: center;
  background-color: white;
  overflow: hidden;
}
.major__media img {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero3 {
  background-color: white;
  text-align: center;
}
#hero3 .major__text {
  margin-inline: auto;
  max-width: 600px;
  margin-bottom: 24px;
}
#hero3 .major__media {
  aspect-ratio: 16/9;
  background-color: none;
}
#hero3 h2 {
  margin-bottom: 16px;
}

.footer {
  padding-block: 64px;
  background-color: navy;
  color: white;
  font-size: 0.875rem;
  font-weight: 200;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: white;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer h2 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 1rem;
}
.footer li {
  width: 150px;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer__logo {
  margin-bottom: 1rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 41.875rem) {
  .footer {
    .column: first-of-type;
    .column-grid-row: 2/span 1;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}