* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}
/* 글자크기 색깔 폰트 등 부모 요소에서 상속 하지만 마진값 등 부모요소에서 상속되지 않음 */
body {
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  /* 웹상에서는 18px이상 */
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

main {
  margin-inline: auto;
  /* padding-inline: 2rem; */
  /* max-width: 70ch; */
  width: min(70ch, 100% - 2 * 32px);
  /* ch : 내가 고른 서체의 글자 사이즈를 기준으로 0이 하나 들어갈수 있는 크기가 1ch */
}

img,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
}
